@inject IJSRuntime JSRuntime

<div @ref=ParentDivReference>
<canvas id="GradientCanvas_canvas" width="@Width" height="@Height" style="@Style">
</canvas>

<script id="GradientCanvas_vertex" type="x-shader/x-vertex">
    #version 300 es

    #line 15

    in vec4 vertexPosition;

    void main() {
        gl_Position = vertexPosition;
    }
</script>

@FragmentShader
</div>